@model ProyectoFinal.Models.Usuarios
@{
    ViewBag.Title = "Home Page";
}

<div style="margin:0 auto; text-align: center; border: 2px; border-style: solid; width:400px;background-color:bisque">
    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td>@Html.LabelFor(m => m.NomUsuario)</td> @*Label to display username*@
                <td>@Html.TextBoxFor(m => m.NomUsuario)</td> @*Textbox for user input*@

                <td>@Html.ValidationMessageFor(m => m.NomUsuario)</td> @*Show validation error (if any) on form submission*@
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Password)</td> @*Label for pasword*@
                <td>@Html.PasswordFor(m => m.Password)</td> @*Password box for inputting password*@
                <td>@Html.ValidationMessageFor(m => m.Password)</td> @*Show validation errors(if any) on form submission*@
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Submit" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @ViewBag.Message
                </td>
            </tr>
        </table>
    }
</div>